*,
body {

    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}


.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#pil {
    display: block;
    width: 50px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

/* Tile Loopview elementer */
.titleBlock {
    width: 300px;
    height: 100px;
    background-color: white;
    border: 1px black solid;
    position: absolute;
    margin: auto;
    z-index: 988;
}

article img {
    width: 100%;
}

.loopBG {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}

.tile {
    height: 330px;
    width: 350px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #EAEDEA;
    padding: 30px;
    border: 1px black solid;
}

#tileContainer {
    position: absolute;
    height: 400px;
    display: flex;
    margin-left: -690px;
    left: 50%;
    top: 54%;
}

article {
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 400px;
    margin: 25px;
    background-color: white;
    padding: 30px;
    border: 1px black solid;
}

/* TEAM LOOPVIEW */
#person {
    height: 400px;
    width: 400px;
    margin: 25px;
    background-color: white;
    padding: 30px;
    border: 1px black solid;
}

#liste {
    padding: 50px;
    background-color: white;
    border: 2px black solid;
    position: absolute;
    height: auto;
    width: 1600px;
    display: flex;
    margin-left: -850px;
    flex-basis: 400px;
    left: 50%;
    top: 61%;
    flex-wrap: wrap;
}

/* Skrot oversigt LOOPVIEW */
#skrotOversigt {
    height: 400px;
    width: 400px;
    margin: 25px;
    background-color: white;
    padding: 30px;
    border: 1px black solid;
}

.galleri {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.rowWrapper {
    display: inline-block;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.colWrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Footer elementer */
.kontakt {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
}

.topFooter {
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    height: 130px;
    border-top: 2px black solid;
}

.btmFooter {
    width: 100vw;
    height: 300px;
}

.someFooter {
    width: 100vw;
    height: 60px;
    background-color: #EAEDEA;
}

#instaBilleder {
    width: 300px;
    height: 200px;
    padding: 30px;
}

#facebook {
    height: 40px;
    width: auto;
    margin: auto;
    padding: 10px;
    z-index: 99999;
}

#insta {
    height: 40px;
    width: auto;
    margin: auto;
    padding: 10px;
    z-index: 99999;
}

/* Header elementer */
#language {
    height: 30px;
    width: auto;
    position: absolute;
    right: 90px;
    z-index: 99999;
    margin: 5px;
    padding: 5px;
}

#user-login {
    height: 40px;
    width: auto;
    position: absolute;
    right: 20px;
    z-index: 99999;
    margin: 5px;
}

#logo {
    height: 100px;
    width: auto;
    z-index: 99999;
    position: absolute;
    left: 20px;
}

.forside-link {
    text-decoration: none;
}

.fa-caret-down {
    color: black;
    opacity: 20%;
}

/* NAV elementer */
nav {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100px;
}

.top_navbar {
    height: 50px;
    width: 100vw;
    overflow: hidden;
    background-color: #EAEDEA;
    z-index: 3;
}

.btm_navbar {
    height: 50px;
    width: 100vw;
    overflow: hidden;
    background-color: white;
    z-index: 3;
}

.btm_navbar a {
    float: right;
    font-size: 13px;
    color: black;
    text-align: center;
    padding-left: 5px;
    padding-right: 20px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: white;
    font-family: inherit;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
}

.btm_navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EAEDEA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Tekst elementer */
h1 {
    font-size: 2.2rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1rem;
    column-span: all;
    padding: 5px;
}

.catchphrase {
    position: absolute;
    left: 50%;
    top: 34%;
    margin-left: -225px;
    font-size: 3rem;
}

.tekstblok1 {}

.tekstblok2 {
    column-count: 2;
    column-gap: 40px;
    column-fill: balance;
}

#underoverskrift {
    font-family: 'Raleway', sans-serif;
    margin-top: 10vh;
}

.lwOverskrift {
    font-family: 'Raleway', sans-serif;
    z-index: 99;
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 2.2rem;
    bottom: 0;
    left: 5%;
}

/* Content elementer */
.breaker {
    height: 1000px;
}

.breaker2 {
    height: 200px;
}

#content {
    width: 70vw;
    margin-top: 80vh;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.galleri {
    margin-left: 25px;
    margin-right: auto;
}

#img1 {
    height: 605px;
    width: 400px;
}

#img2 {
    height: 300px;
    width: 450px;
    padding-top: 10px;
}

#img3 {
    height: 300px;
    width: 450px;
}

#img4 {
    height: 605px;
    width: 400px;
}

.galleri .ver_img {
    padding: 10px;
}

.splash {
    width: 100vw;
    max-height: 90vh;
    max-width: 2000px;
    top: 0;
    left: 0;
    Position: absolute;
    z-index: -99;
}

splash_container {
    position: relative;
    Width: 100vw;
}

body,
html {
    scroll-behavior: auto;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
